/* body {
   
  background: url(images.jpg);
  background-repeat: no-repeat;
} */
div {
  background-color: blue;
  border: orange;
  border-width: thick;
  border-style: solid;
}
p {
  color: yellow;
}
span {
  background-color: red;
  color: black;
}
